@import'../../scss/main.scss';

.Dishes {
    // margin-top: 182px;
    width: 100%;
    height: 1000px;
    // margin-bottom: 100px;
    // border: $border;
    background-color: #F9F9F9;

    @media only screen and (max-width: 800px) {
        height: 900px;
    }

    .container {
        max-width: 1440px;
        height: 100%;
        margin: 0 auto;
        // border: $border;

        .dishes {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            height: 100%;

            // background-color: #323142;
            @media only screen and (max-width: 800px) {
                padding: 50px 10px;
            }

            .Questions {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 20%;
                // border: $border;

                h1 {
                    font-family: "Poppins", sans-serif;
                    font-size: 45px;
                    font-weight: 600;
                    line-height: 54px;
                    letter-spacing: 0px;
                    text-align: center;
                    color: #323142;

                    @media only screen and (max-width: 800px) {
                        font-size: 30px;
                    }

                    span {
                        color: #6C5FBC;
                    }
                }
            }

            .table {
                width: 100%;
                height: 70%;
                // border: $border;
                // background-color: #323142;
                transition: 0.5s;



                .how {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 100%;
                    height: 15%;
                    // border: $border;
                    // background-color: #323142;
                    transition: 5s;

                    h2 {
                        font-family: "Poppins", sans-serif;
                        font-size: 23px;
                        font-weight: 600;
                        line-height: 59px;
                        letter-spacing: 0em;
                        text-align: left;
                        color: #323142;

                        @media only screen and (max-width: 800px) {
                            font-size: 18px;
                        }
                    }

                    img {
                        &:hover {
                            .howw {
                                display: none;
                            }
                        }
                    }
                }

                .howw {
                    width: 100%;
                    height: 10%;
                    // border: $border;
                    transition: 5s;

                    p {
                        font-family: "Poppins", sans-serif;
                        font-size: 18px;
                        font-weight: 400;
                        line-height: 32px;
                        letter-spacing: 0.01em;
                        color: #686868;

                        @media only screen and (max-width: 800px) {
                            font-size: 15px;
                        }


                    }

                    hr {
                        margin-top: 15px;
                        background-color: #323142;
                    }
                }
            }
        }
    }
}


.FetchProduct2 {
    width: 100%;
    height: 220vh;
    // border: $border;
    background-color: #F9F9F9;
    margin-top: 188px;

    @media only screen and (max-width: 800px) {
        width: 100%;
    }

    @media only screen and (max-width: 375px) {
        width: 100%;
        height: 350vh;
    }

    .container {
        max-width: 1440px;
        height: 100%;
        // border: $border;
        // background-color: #323142;
        margin: 0 auto;

        // .search {
        //     display: flex;
        //     align-items: center;
        //     justify-content: center;
        //     width: 100%;
        //     height: 4%;

        //     // border: $border;
        //     input {
        //         padding: 20px 40px;
        //         width: 500px;
        //         height: 60px;
        //         outline: none;
        //         border-radius: 6px;
        //         font-family: "Poppins", sans-serif;
        //         font-size: 22px;
        //         font-weight: 600;
        //         line-height: 31px;
        //         letter-spacing: 0px;
        //         text-align: left;

        //         border: 3px solid blue;

        //     }
        // }

        .fetchproduct {
            width: 100%;
            height: 100%;
            // background-color: #323142;

            .ours {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 15%;
                // border: $border;

                h1 {
                    font-family: "Poppins", sans-serif;
                    font-size: 45px;
                    font-weight: 600;
                    line-height: 26px;
                    letter-spacing: 0px;
                    text-align: center;
                    color: #323142;

                    @media only screen and (max-width: 375px) {
                        font-size: 30px;
                    }

                    @media only screen and (max-width: 375px) {
                        font-size: 35px;
                        margin-top: -200px;
                    }

                    span {
                        color: #6C5FBC;
                    }
                }
            }

            .fetchnow {
                display: grid;
                grid-template-columns: auto auto auto auto;
                width: 100%;
                height: 85%;
                // border: $border;
                // background-color: #323142;

                ul {
                    display: grid;
                    width: 100%;
                    // background-color: #323142;
                    grid-template-columns: auto auto auto auto auto;
                    gap: 40px;

                    @media only screen and (max-width: 375px) {
                        margin-top: -200px;
                        flex-direction: column;
                    }

                    @media only screen and (max-width: 800px) {
                        gap: 5px;
                    }

                    @media only screen and (max-width: 375px) {
                        gap: 50px;
                    }



                    li {
                        width: 250px;
                        height: 400px;
                        // border: $border;
                        background-color: white;
                        border-radius: 30px;
                        box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;

                        @media only screen and (max-width: 800px) {
                            width: 150px;
                            height: 300px;
                        }

                        @media only screen and (max-width: 375px) {
                            width: 280px;
                            height: 420px;

                        }


                        // border: $border;
                        .img1 {
                            margin: 0 auto;
                            width: 80%;
                            height: 10%;
                            // border: $border;
                            display: flex;
                            justify-content: end;
                            align-items: end;
                        }

                        .img2 {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            width: 100%;
                            height: 50%;

                            // border: $border;
                            img {
                                width: 90%;
                            }
                        }

                        .others {
                            padding: 10px 35px;
                            width: 100%;
                            height: 40%;

                            // border: $border;
                            @media only screen and (max-width: 800px) {
                                padding: 5px 20px;
                            }

                            @media only screen and (max-width: 375px) {
                                padding: 20px 40px;
                            }

                            h3 {
                                width: 80px;
                                height: 30px;
                                // border: $border;
                                background-color: #DAA31A;
                                color: #F7EDD0;
                                text-align: center;
                                font-family: "Poppins", sans-serif;
                                font-size: 16px;

                                @media only screen and (max-width: 800px) {
                                    font-size: 12px;
                                    width: 60px;
                                    height: 20px;
                                    margin-top: -10px;
                                }

                                @media only screen and (max-width: 375px) {
                                    width: 90px;
                                    height: 35px;
                                    font-size: 20px;
                                    // margin-top: 10px;
                                }
                            }

                            h2 {
                                display: flex;
                                align-items: center;
                                justify-content: space-between;
                                font-family: "Poppins", sans-serif;
                                font-size: 23px;
                                font-weight: 600;
                                line-height: 37px;
                                letter-spacing: 0px;
                                text-align: left;

                                @media only screen and (max-width: 800px) {
                                    font-size: 14px;

                                }

                                @media only screen and (max-width: 375px) {
                                    font-size: 22px;
                                }
                            }

                            h4 {
                                display: flex;
                                align-items: center;
                                justify-content: space-between;
                                font-family: "Poppins", sans-serif;
                                font-size: 23px;
                                font-weight: 600;
                                line-height: 37px;
                                letter-spacing: 0px;
                                text-align: left;

                                @media only screen and (max-width: 800px) {
                                    font-size: 14px;

                                    img {
                                        width: 20%;
                                    }

                                }

                                @media only screen and (max-width: 375px) {
                                    font-size: 22px;
                                }


                            }

                            p {
                                display: flex;
                                align-items: center;
                                font-family: "Manrope", sans-serif;
                                font-size: 17px;
                                font-weight: 400;
                                line-height: 23px;
                                letter-spacing: 0px;
                                text-align: left;
                                color: #8E97A6;

                                @media only screen and (max-width: 800px) {
                                    font-size: 12px;
                                    margin-top: -5px;

                                }

                                @media only screen and (max-width: 375px) {
                                    font-size: 16px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}